@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-white mt-4">
    <h2>Gestão de Equipamentos</h2>
    <p class="mt-3">
        Este sistema foi desenvolvido como parte da atividade prática da <strong>Academia do Programador</strong>.
    </p>
    <p>
        Utilize o menu acima para navegar entre os módulos de <strong>Fabricantes</strong>, <strong>Equipamentos</strong> e <strong>Chamados</strong>.
    </p>
</div>

