@model GestaoEquipamentosWeb.Domain.Entities.Equipamento

@{
    ViewData["Title"] = "Cadastrar Equipamento";
}

<h2 class="text-white mt-4">@ViewData["Title"]</h2>

<form asp-action="Create" method="post" class="text-white">
    <div class="form-group mt-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="NumeroSerie">Número de Série</label>
        <input asp-for="NumeroSerie" class="form-control" />
        <span asp-validation-for="NumeroSerie" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="DataAquisicao">Data de Aquisição</label>
        <input asp-for="DataAquisicao" type="date" class="form-control" />
        <span asp-validation-for="DataAquisicao" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="FabricanteId">Fabricante</label>
        <select asp-for="FabricanteId" asp-items="ViewBag.Fabricantes" class="form-control"></select>
        <span asp-validation-for="FabricanteId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mt-4">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-4">Voltar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
