@model GestaoEquipamentosWeb.Domain.Entities.Equipamento

@{
    ViewData["Title"] = "Editar Equipamento";
}

<h2 class="text-white mt-4">@ViewData["Title"]</h2>

<form asp-action="Edit" method="post" class="text-white mt-4">
    <input type="hidden" asp-for="Id" />

    <div class="form-group mb-3">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control bg-dark text-white border border-purple" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="NumeroSerie"></label>
        <input asp-for="NumeroSerie" class="form-control bg-dark text-white border border-purple" />
        <span asp-validation-for="NumeroSerie" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="DataAquisicao"></label>
        <input asp-for="DataAquisicao" type="date" class="form-control bg-white text-dark border border-purple" />
        <span asp-validation-for="DataAquisicao" class="text-danger"></span>
    </div>

    <div class="form-group mb-4">
        <label asp-for="FabricanteId">Fabricante</label>
        <select asp-for="FabricanteId" asp-items="ViewBag.Fabricantes" class="form-control bg-dark text-white border border-purple"></select>
        <span asp-validation-for="FabricanteId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary me-2">Salvar Alterações</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>


